.content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
}

.page__title {
    font-size: 30px;
    padding: 20px 0 40px 0;
}

.btn {
    padding: 15px 20px;
    border: 1px solid #B38D51;
    border-radius: 20px;
    transition: all .2s ease;
}

.btn:hover {
    background: #B38D51;
    color: white;
    transition: all .2s ease;
}