*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: #B38D51;
}

i.fa {
    cursor: pointer;
}

body {
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    min-width: 1170px;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.wrapper {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    padding-top: 40px;
    max-height: 260px;
}

.header__intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 10px;
}

.header__intro__logo {
    width: 250px;
}

.header__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 60px;
}

.hamburger {
    width: 25px;
    height: 15px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
    cursor: pointer;
}

.hamburger:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 2px;
    width: 25px;
    background: #000;
}

.header__hr {
    height: 1.5px;
    background-color: #E1E1E1;
    border: none;
    margin: 0;
    width: 100%;
}

.nav-block {
    padding: 15px 0;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    z-index: 50;
    top: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.nav__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav__icon {
    padding-right: 30px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.nav__icon a {
    color: #3d3d3d;
}

.nav__icon a:hover {
    color: #B38D51;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.nav__item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-right: 50px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    color: #3d3d3d;
}

.nav__item a {
    color: #3d3d3d;
}

.nav__item a:hover {
    color: #B38D51;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.nav__item.active a {
    color: #B38D51;
}

.nav__tick {
    font-size: 8px;
    padding-left: 4px;
}

.nav__profile {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 40px;
    height: 200%;
    background: url("../img/articles/art2.jpg") no-repeat;
    border-radius: 100%;
}

.nav__img {
    width: 30px;
}

.main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 0;
    font-family: HelveticaNeueCyr;
    line-height: 1.4em;
    letter-spacing: 0.2px;
}

.main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.article-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
}

.article-row {
    padding-right: 22.5px;
}

.article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.article__title {
    font-weight: 500;
    font-size: 22px;
}

.article__title a {
    color: #3d3d3d;
}

.article__img {
    max-width: 100%;
}

.article__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.article__btn {
    text-transform: uppercase;
}

.article__link {
    color: #B38D51;
    font-weight: 700;
    font-size: 14px;
}

.article__link:hover {
    color: #000;
}

.article__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.article__author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.author__avatar {
    width: 50px;
    height: 50px;
    background: url("../img/articles/art2.jpg") no-repeat;
    border-radius: 100%;
}

.author__name {
    padding: 0 10px 0 10px;
}

.article__date {
    color: #6F7577;
    font-style: italic;
}

.sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    padding-left: 22.5px;
}

.footer {
    background-color: #222;
    padding: 50px 0 20px;
    color: white;
    letter-spacing: 0.5px;
}

.footer a {
    color: #dcdcdc;
}

.footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
}

.footer__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    padding: 10px 20px 0;
}

.footer__logo {
    max-width: 150px;
}

.footer__title {
    border-bottom: .7px solid #fff;
    padding-bottom: 15px;
}

.footer__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__link {
    padding-top: 15px;
    font-size: 14px;
}

.footer__link:hover {
    color: #B38D51;
}

.footer__hr {
    height: .5px;
    background-color: dimgrey;
    border: none;
    margin: 0;
    width: 100%;
}

.footer__copyright {
    padding-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.copyright__text {
    color: #999;
    font-size: 12px;
}

.footer__nav-item {
    padding-left: 20px;
    font-size: 12px;
}

.footer__nav-item:first-child {
    padding: 0;
}
