{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/main.css">
    <div class="container">
        <div class="main-content">
            <div class="article-column">
                <div class="page__title wow fadeInUp">
                    {{ title }}
                </div>
                {% for i in articles %}
                    <div class="article-row">
                        <div class="article">
                            <div class="article__info wow fadeInUp">
                                <a href="/users/{{ i['author'].nick }}" class="article__author">
                                    <div class="author__avatar">
                                        <!--<img src="" alt="">-->
                                    </div>
                                    <div class="author__name">
                                        {{ i['author'].nick }}
                                    </div>
                                </a>
                                <div class="article__date">
                                    {{ i['date_public'] }}
                                </div>
                            </div>
                            <div class="article__title wow fadeInUp">
                                <a href="/article/{{ i['id'] }}">{{ i['title'] }}</a>
                            </div>
                            <div class="article__tags wow fadeInUp">
                                {% for j in i['cats'] %}
                                    <div class="article__tag">
                                        <a href="/category/{{ j.id }}">{{ j.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <img src="{{ i['preview'] }}" alt="" class="article__img  wow fadeInUp">
                            <div class="article__text  wow fadeInUp">
                                {#                                <p>Таким образом, сложившаяся структура организации требует определения и уточнения#}
                                {#                                    новых предложений. А ещё сделанные на базе интернет-аналитики выводы описаны#}
                                {#                                    максимально подробно. Принимая во внимание показатели успешности, укрепление и#}
                                {#                                    развитие внутренней структуры, а также свежий взгляд на привычные вещи - безусловно#}
                                {#                                    открывает новые горизонты для анализа существующих паттернов поведения.</p>#}
                            </div>
                            <div class="article__btn wow fadeInUp">
                                <a href="/article/{{ i['id'] }}" class="article__link">Читать дальше</a>
                            </div>
                            <div class="article__stats wow fadeInUp">
                                <div class="stats__item">
                                    <i class="fa fa-star"></i>
                                    {% if i['rate'] > 0 %}
                                        <span>+{{ i['rate'] }}</span>
                                    {% else %}
                                        <span>{{ i['rate'] }}</span>
                                    {% endif %}
                                </div>
                                <div class="stats__item">
                                    <i class="fa fa-eye"></i>
                                    <span>{{ i['watches'] }}</span>
                                </div>
                                {#                            <div class="stats__item">#}
                                {#                                <i class="fa fa-comment"></i>#}
                                {#                                <span>15</span>#}
                                {#                            </div>#}
                                <div class="stats__item">
                                    <a href="#"><i class="fa fa-bookmark"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#                <div class="paginate wow fadeInUp">#}
                {#                    <div class="pag__numbers">#}
                {#                        <a href="#" class="pag__num pag__active">1</a>#}
                {#                        <a href="#" class="pag__num">2</a>#}
                {#                        <a href="#" class="pag__num">3</a>#}
                {#                        <a href="#" class="pag__num">4</a>#}
                {#                        <a href="#" class="pag__num">5</a>#}
                {#                        <a href="#" class="pag__num">...</a>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="sidebar">
                <div class="sb__main wow fadeInUp">
                    <div class="sb__title">
                        Потоки
                    </div>
                    {% for i in flows %}
                        <div class="sb__block">
                            <div class="sb__row">
                                <div class="sb__label">
                                    <a href="/flow/{{ i.id }}">{{ i.title }}</a>
                                </div>
                                <div class="sb__value">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sb__main wow fadeInUp">
                    <div class="sb__title">
                        Самое читаемое
                    </div>
                    <div class="sb__block">
                        <div class="block__title">
                            За сутки
                        </div>
                        <div class="art__column">
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Приключения в мире программирования</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Очень странный программист</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sb__block">
                        <div class="block__title">
                            За неделю
                        </div>
                        <div class="art__column">
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Приключения в мире программирования</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Очень странный программист</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
