{% extends "base.html" %}
{% block content %}
<main class="main">
    <div class="container">
        <div class="main-content">
            <div class="article-column">
                <div class="article-row">
                    <div class="article">
                        <div class="article__info">
                            <a href="#" class="article__author">
                                <div class="author__avatar">
                                    <!--<img src="" alt="">-->
                                </div>
                                <div class="author__name">
                                    AnJey
                                </div>
                            </a>
                            <div class="article__date">
                                4 апреля 2020 в 17:36
                            </div>
                        </div>
                        <div class="article__title">
                            <a href="#">Beauty of Nature</a>
                        </div>
                        <img src="../static/img/articles/art1.jpg" alt="" class="article__img">
                        <div class="article__text">
                            <p>Таким образом, сложившаяся структура организации требует определения и уточнения
                                новых предложений. А ещё сделанные на базе интернет-аналитики выводы описаны
                                максимально подробно. Принимая во внимание показатели успешности, укрепление и
                                развитие внутренней структуры, а также свежий взгляд на привычные вещи - безусловно
                                открывает новые горизонты для анализа существующих паттернов поведения.</p>
                        </div>
                        <div class="article__btn">
                            <a href="#" class="article__link">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article-row">
                    <div class="article">
                        <div class="article__title">
                            <a href="#">Beauty of Nature</a>
                        </div>
                        <div class="article__subtitle">
                            <span class="subtitle__text"><span class="text__item">July 22, 2015</span></span>
                        </div>
                        <img src="../static/img/articles/art1.jpg" alt="" class="article__img">
                        <div class="article__text">
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,
                                consectetur
                                Nulla
                                fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.
                                Sit
                                amet
                                cursus
                                nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem
                                ipsum
                                dolor
                                sit
                                amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at
                                leo
                                dignissim
                                congue. Mauris elementum accumsan leo vel tempor</p>

                            <p>Aliquam et elit eu nunc rhoncus viverra quis at felis et netus et malesuada fames ac
                                turpis
                                egestas.
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                                magnis
                                dis
                                parturient montes</p>
                        </div>
                        <div class="article__btn">
                            <a href="#" class="article__link">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                Best articles
            </div>
        </div>
    </div>
</main>
{% endblock %}
