{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <div class="container">
        <div class="profile">
            <div class="profile__main">
                <div class="profile__row">
                    <div class="avatar">
                        <img src="/static/img/avatars/{{ user.avatar }}" alt="" class="avatar__img">
                    </div>
                    <div class="counters">
                        {% if user.is_author %}
                            <div class="counter">
                                <div class="count count__green">
                                    300
                                </div>
                                <div class="counter__title">
                                    Рейтинг
                                </div>
                            </div>
                            <div class="counter">
                                <div class="count count__red">
                                    200
                                </div>
                                <div class="counter__title">
                                    Подписчики
                                </div>
                            </div>
                        {% endif %}
                        <div class="counter">
                            <div class="count count__blue">
                                20
                            </div>
                            <div class="counter__title">
                                Подписки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="names">
                    <div class="name">
                        {{ user.name }} {{ user.surname }}
                    </div>
                    <div class="nick">
                        @{{ user.nick }}
                    </div>
                </div>
                <div class="profile__block">
                    <div class="profile__column">
                        <div class="slider">
                            <div class="slider__item">
                                <a href="/users/{{ current_user.nick }}" class="slider__link link__active">Профиль</a>
                            </div>
                            {% if user.is_author %}
                                <div class="slider__item">
                                    <a href="/users/{{ current_user.nick }}/public" class="slider__link">Публикации</a>
                                </div>
                            {% endif %}
                            <div class="slider__item">
                                <a href="/users/{{ current_user.nick }}/bookmarks" class="slider__link">Закладки</a>
                            </div>
                        </div>
                        <div class="about">
                            <div class="about__title">
                                О себе
                            </div>
                            <div class="about__text">{{ user.info }}</div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info__main">
                            <div class="info__title">
                                Информация
                            </div>
                            <div class="info__block">
                                {% if user.is_author %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            В рейтинге
                                        </div>
                                        <div class="info__value">
                                            2
                                        </div>
                                    </div>
                                {% endif %}
                                {% if user.date_born %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            Дата рождения
                                        </div>
                                        <div class="info__value">
                                            {{ user.beauty_date(user.date_born) }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if user.work %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            Работает в
                                        </div>
                                        <div class="info__value">
                                            {{ user.work }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="info__row">
                                    <div class="info__label">
                                        Зарегистрирован
                                    </div>
                                    <div class="info__value">
                                        {{ user.beauty_date(user.date_register) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}