{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <div class="container">
        <div class="profile">
            <div class="profile__main">
                <div class="profile__row">
                    <div class="avatar">
                        <img src="/static/img/avatars/{{ user.avatar }}" alt="" class="avatar__img">
                    </div>
                    <div class="counters">
                        {% if user.is_author %}
                            <div class="counter">
                                <div class="count count__green">
                                    300
                                </div>
                                <div class="counter__title">
                                    Рейтинг
                                </div>
                            </div>
                            <div class="counter">
                                <div class="count count__red">
                                    200
                                </div>
                                <div class="counter__title">
                                    Подписчики
                                </div>
                            </div>
                        {% endif %}
                        <div class="counter">
                            <div class="count count__blue">
                                20
                            </div>
                            <div class="counter__title">
                                Подписки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="names">
                    <div class="name">
                        {{ user.name }} {{ user.surname }}
                    </div>
                    <div class="nick">
                        @{{ user.nick }}
                    </div>
                </div>
                <div class="profile__block">
                    <div class="profile__column">
                        <div class="slider">
                            <div class="slider__item">
                                <a href="/users/{{ current_user.nick }}" class="slider__link">Профиль</a>
                            </div>
                            {% if user.is_author %}
                                <div class="slider__item">
                                    <a href="/users/{{ current_user.nick }}/public" class="slider__link">Публикации</a>
                                </div>
                            {% endif %}
                            <div class="slider__item">
                                <a href="/users/{{ current_user.nick }}/bookmarks" class="slider__link link__active">Закладки</a>
                            </div>
                        </div>
                        <div class="article-column">
                            <div class="article-row">
                                <div class="article">
                                    <div class="article__info  wow fadeInUp">
                                        <a href="#" class="article__author">
                                            <div class="author__avatar">
                                                <!--<img src="" alt="">-->
                                            </div>
                                            <div class="author__name">
                                                AnJey
                                            </div>
                                        </a>
                                        <div class="article__date">
                                            4 апреля 2020 в 17:36
                                        </div>
                                    </div>
                                    <div class="article__title wow fadeInUp">
                                        <a href="#">Beauty of Nature</a>
                                    </div>
                                    <div class="article__tags wow fadeInUp">
                                        <div class="article__tag">
                                            <a href="#">Природа</a>
                                        </div>
                                        <div class="article__tag">
                                            <a href="#">Программирование</a>
                                        </div>
                                        <div class="article__tag">
                                            <a href="#">Искусство</a>
                                        </div>
                                    </div>
                                    <img src="/static/img/articles/art1.jpg" alt="" class="article__img  wow fadeInUp">
                                    <div class="article__text  wow fadeInUp">
                                        <p>Таким образом, сложившаяся структура организации требует определения и
                                            уточнения
                                            новых предложений. А ещё сделанные на базе интернет-аналитики выводы описаны
                                            максимально подробно. Принимая во внимание показатели успешности, укрепление
                                            и
                                            развитие внутренней структуры, а также свежий взгляд на привычные вещи -
                                            безусловно
                                            открывает новые горизонты для анализа существующих паттернов поведения.</p>
                                    </div>
                                    <div class="article__btn wow fadeInUp">
                                        <a href="#" class="article__link">Читать дальше</a>
                                    </div>
                                    <div class="article__stats wow fadeInUp">
                                        <div class="stats__item">
                                            <i class="fa fa-star"></i>
                                            <span>+12</span>
                                        </div>
                                        <div class="stats__item">
                                            <i class="fa fa-eye"></i>
                                            <span>100</span>
                                        </div>
                                        <div class="stats__item">
                                            <i class="fa fa-comment"></i>
                                            <span>15</span>
                                        </div>
                                        <div class="stats__item">
                                            <a href="#"><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article-row">
                                <div class="article">
                                    <div class="article__info  wow fadeInUp">
                                        <a href="#" class="article__author">
                                            <div class="author__avatar">
                                                <!--<img src="" alt="">-->
                                            </div>
                                            <div class="author__name">
                                                AnJey
                                            </div>
                                        </a>
                                        <div class="article__date">
                                            4 апреля 2020 в 17:36
                                        </div>
                                    </div>
                                    <div class="article__title wow fadeInUp">
                                        <a href="#">Beauty of Nature</a>
                                    </div>
                                    <div class="article__tags wow fadeInUp">
                                        <div class="article__tag">
                                            <a href="#">Природа</a>
                                        </div>
                                        <div class="article__tag">
                                            <a href="#">Программирование</a>
                                        </div>
                                        <div class="article__tag">
                                            <a href="#">Искусство</a>
                                        </div>
                                    </div>
                                    <img src="/static/img/articles/art1.jpg" alt="" class="article__img  wow fadeInUp">
                                    <div class="article__text  wow fadeInUp">
                                        <p>Таким образом, сложившаяся структура организации требует определения и
                                            уточнения
                                            новых предложений. А ещё сделанные на базе интернет-аналитики выводы описаны
                                            максимально подробно. Принимая во внимание показатели успешности, укрепление
                                            и
                                            развитие внутренней структуры, а также свежий взгляд на привычные вещи -
                                            безусловно
                                            открывает новые горизонты для анализа существующих паттернов поведения.</p>
                                    </div>
                                    <div class="article__btn wow fadeInUp">
                                        <a href="#" class="article__link">Читать дальше</a>
                                    </div>
                                    <div class="article__stats wow fadeInUp">
                                        <div class="stats__item">
                                            <i class="fa fa-star"></i>
                                            <span>+12</span>
                                        </div>
                                        <div class="stats__item">
                                            <i class="fa fa-eye"></i>
                                            <span>100</span>
                                        </div>
                                        <div class="stats__item">
                                            <i class="fa fa-comment"></i>
                                            <span>15</span>
                                        </div>
                                        <div class="stats__item">
                                            <a href="#"><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info__main">
                            <div class="info__title">
                                Информация
                            </div>
                            <div class="info__block">
                                {% if user.is_author %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            В рейтинге
                                        </div>
                                        <div class="info__value">
                                            2
                                        </div>
                                    </div>
                                {% endif %}
                                {% if user.date_born %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            Дата рождения
                                        </div>
                                        <div class="info__value">
                                            {{ user.beauty_date(user.date_born) }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if user.work %}
                                    <div class="info__row">
                                        <div class="info__label">
                                            Работает в
                                        </div>
                                        <div class="info__value">
                                            {{ user.work }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="info__row">
                                    <div class="info__label">
                                        Зарегистрирован
                                    </div>
                                    <div class="info__value">
                                        {{ user.beauty_date(user.date_register) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}