{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/users.css">
    <div class="container">
        <div class="main-content">
            <div class="users-column">
                <div class="page__title wow fadeInUp">
                    Авторы
                </div>
                <div class="users-col">
                    {% for i in users %}
                        <div class="users-row wow fadeInUp">
                            <div class="users">
                                <div class="users__row">
                                    <div class="users__col">
                                        <div class="users__title">
                                            {{ i.name }} {{ i.surname }}
                                            <a href="/users/{{ i.nick }}">@{{ i.nick }}</a>
                                        </div>
                                        <div class="users__disc">
                                            {{ i.info }}
                                        </div>
                                    </div>
                                    <div class="users_col">
                                        {% if i.rate %}
                                            Рейтинг: {{ i.rate }}
                                        {% else %}
                                            Рейтинг: 0
                                        {% endif %}
                                    </div>
                                    <div class="users__col">
                                        <button class="users__btn subs">Подписан</button>
                                        {# <button>Отписаться</button>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar">
                <div class="sb__main wow fadeInUp">
                    <div class="sb__title">
                        Потоки
                    </div>
                    {% for i in flows %}
                        <div class="sb__block">
                            <div class="sb__row">
                                <div class="sb__label">
                                    <a href="/flow/{{ i.id }}">{{ i.title }}</a>
                                </div>
                                <div class="sb__value">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sb__main wow fadeInUp">
                    <div class="sb__title">
                        Самое читаемое
                    </div>
                    <div class="sb__block">
                        <div class="block__title">
                            За сутки
                        </div>
                        <div class="art__column">
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Приключения в мире программирования</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Очень странный программист</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sb__block">
                        <div class="block__title">
                            За неделю
                        </div>
                        <div class="art__column">
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Приключения в мире программирования</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="art__row">
                                <div class="art__title">
                                    <a href="#">Очень странный программист</a>
                                </div>
                                <div class="art__watch">
                                    <i class="fa fa-eye"></i>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/users.js"></script>
{% endblock %}
